* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: background-anim 30s ease-in-out infinite;
}

@keyframes background-anim {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(720deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    border-radius: 2rem;
    /* animation: form-anim 3s ease-in-out; */
}

@keyframes form-anim {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

input[type="text"] {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem 0 0 2rem;
    width: 30rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem 0 0 2rem;
    background-color: #fff;
    color: #009688;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
#predict-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0 2rem 2rem 0;
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#predict-button:hover {
    background-color: #008080;
}

.result-container {
    margin-top: 2rem;
    display: none;
}

.result-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.result {
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.result-text {
    font-size: 1.5rem;
    text-align: center;
}

.result-spam {
    color: #f44336;
    font-weight: bold;
}

.result-notspam {
    color: #4caf50;
    font-weight: bold;
}

.photo-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: auto;
    animation: photo-anim 3s ease-in-out;
}

@keyframes photo-anim {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

