<!-- popup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS Spam Detection</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/background.jpg" alt="Background Image" class="background">
        <div class="form">
            <h1 class="title">SMS Spam Detection</h1>
            <form class="input-container" id="smsForm">
                <input type="text" id="sms-text" placeholder="Enter SMS text" name="sms">
                <button type="button" id="predict-button">Predict</button>
            </form>
            <h1 id="prediction"></h1>
            <p>Confidence Level: <span id="confidence"></span></p>
        </div>
    </div>
    
    <script src="popup.js"></script>
</body>
</html>
